@import 'tailwindcss';
@plugin 'daisyui';

@plugin "daisyui/theme" {
  name: "darkcontrast";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: #202537;
  --color-base-200: #131327;
  --color-base-300: #2b3043;
  --color-base-content: oklch(96% 0.007 247.896);
  --color-primary: oklch(66% 0.179 58.318);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: #383d51;
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: oklch(44% 0.119 151.328);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: #202537;
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(70% 0.165 254.624);
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(59% 0.145 163.225);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(14% 0.004 49.25);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: #fffff;
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

